/*Import Bulma */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

/*Change default font to Nunito from google fonts */
body{
    font-family: "Nunito";
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

/*Middle position for the login and ping window*/
@media only screen and (orientation: landscape) {
    @media only screen and (max-height: 1500px){
        .middle {
            margin-left: auto;
            margin-right: auto;
            width:95%;  

        }
    }
    @media only screen and (min-height: 1500px){
        .middle {
            position:absolute;
            top: 50%;
            left: 50%; 
            transform: translate(-50%, -50%);
            width: 80%;   
        }
    }

    .middle2 {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-height: 90vh;
        padding: 3vh;
    }
    .middle3 {
        position:absolute;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%);
        min-width: 50%;   
    }
    .notification{
        background-color:rgb(248, 248, 248) !important;
        width: 100%;
        padding: -5px;
    }
    
    /*Notificaion bubbles*/
    .dot {
        height: 17px;
        width: 17px;
        background-color: rgb(255, 50, 50);
        border-radius: 50%;
        position: absolute;
    }
    .hidedesktop{
        display: none;
    }
}
@media only screen and (orientation: landscape) {
    body{
        background-image: url("/backgroundimage.php/desktop/white");
    }
}

@media only screen and (orientation: portrait) {
    body{
        background-image: url("/backgroundimage.php/mobile/white");
    }
    .middle {
        top: 0%; 
        width: 95%;
        margin: auto;  
    }
    .hidemobile{
        display: none;
    }
    
    .middle2 {
        margin-left: auto;
        margin-right: auto;
        width: 97%;
        padding-top: 10px;
        height:90%;
    }
    .middle3 {
        position:absolute;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%);
        min-width: 95%;   
    }
    .notification{
        background-color:rgb(248, 248, 248) !important;
        padding: 0px;
    }

    /*Notificaion bubbles*/
    .dot {
	    right:0px;
        height: 17px;
        width: 17px;
        background-color: rgb(255, 50, 50);
        border-radius: 50%;
        position: absolute;
    }

}


/*Styling the login */
#login {
    transition: opacity 0.5s ease-in-out;
    padding:10px;  
}
/*Servercheck table below */
#servercheck {
    padding:10px;    
}
.button{
    margin: 5px !important;
}


#login_header{
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    clear:right;
}

/*Styling the ping window*/
#pingjs{
    transition: opacity 0.5s ease-in-out;
    opacity:0;
    text-align: center;
}

/*The genral dashboard styling*/
#dashboard{
    scrollbar-width: thin;
    background-color: white;
    border-radius: 20px;
    border: solid white;
    transition: opacity 1s ease-in-out;
    opacity:0;
    display: none;
    overflow: auto;
    height: 95vh; 


}

/*Styling the loading spinners */
#s1,#s2{
    max-height: 80px;
}
/*Styling the table for the ping window */
#ping_table{
    margin-top: 30px;
    width: 90%;
    text-align: center;
}
/*The first loadingbar in the background (blue) not moving */
#loadingbar_1{
    border: solid lightblue;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    height: 30px;
    width: 60%;
}
/*The animated loadingbar */
#loadingbar_2{
    border: solid lightblue;
    border-radius: 10px;
    border-width: 1px;
    background-color: greenyellow;
    height: 100%;
    width: 100%;
    animation-name: loading;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    text-align: center;
    font-size: 20px;
}


/*Normal loading*/
@keyframes loading{
    0% {width:0%; background-color: green}

    100% {width:100%; background-color: lightblue;}
}
/*Done with loading*/
@keyframes load2{
    0% {width:0%; background-color: green}
    100% {width:100%; background-color: green;}
}
/*Error while loading*/
@keyframes load3{
    0% {width:0%; background-color: red}

    100% {width:100%; background-color: red;}
}

/*Seperator line - animated */

.line {
    border-bottom: 3px solid #646464; 
    max-width: 70%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    animation-name: line;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

/* Normal sperator line */
.line3 {
    border-bottom: 3px solid #646464; 
    max-width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

}

/*Styling the input form*/
#usrname_input{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
input[type=text] {
    border: solid rgb(180, 180, 180);
    padding: 4px;
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
    transition: width 0.4s ease-in-out;
    width: 55%;
}
input[type=text]:focus {
    background: rgb(240, 240, 240);
    width: 60%;
    outline: none;
}

/*The button for login*/
#btn{
	background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
    margin-left: 10px;
}
/*The button for the faucet*/
#faucetbtn{
	background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
    margin-left: 10px;
}

/*The back button*/
#btnback{
    float: right;
	background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
    margin-left: 10px;
}
/*Footer text*/
#footer{
    color: rgb(170, 170, 170);
    font-size: 0,8rem;
    margin-bottom: 10px;
    text-align: center;
}
/*Duco Image on start page */
#ducoimg {
    float: right;
    width: 50px;
    margin: 20px;

}
#ducoimg2 {
    float: left;
    width: 50px;
    margin: 20px;

}

/*General gauge styling*/
.gauge{
    min-width: 100px;
    min-height:80px;
}
/*The titles above the gauges on network tab*/
#dashboard_title{
    font-size:20px;
}

/*The value below each gauge*/
.gaugeval{
    margin-top: -10px;
    font-size: 20px;
}
/*The network tab - for js*/
#dashboardd{
    display: none;
}
/*The debug console on ping window*/
#consoleu{
    width: 80%;
    display: none;
    background-color: black;
    color: greenyellow;
    text-align: left;
}
/*chat for the faucet*/
.chat{
    background-color: rgb(233, 233, 233);
    color: rgb(32, 32, 32);
    text-align: left;
    border-radius: 10px;
    border-style: solid 10px black;
    padding: 6px;
    margin-top: 5px;
}
/*User balance chart*/
.frontchart{
 height: 200px;   
}

/*Set the height of the charts different on mobile or PC*/
@media only screen and (orientation: landscape) {
    .chart-container{
        height: 400px !important;
    }
    #net_chart{
        max-height: 300px !important;
        width: 30%;
    }
}
@media only screen and (orientation: portrait) {
    #chart{
        position: relative;

    }
    .chart-container {
        position: relative;
        margin: auto;
        height: 400px;
        width: 80vw;
    }
}

  
    
/*Styling the balance card */
#balance{
    width: 80%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.14), 0 6px 6px rgba(0, 0, 0, 0.18);
    background-color:rgba(233, 233, 233, 0.521);
    border: solid 4px rgba(233, 233, 233, 0.521);
    border-radius: 10px;
    min-height: 80px;
    color: rgb(99, 99, 99);
    font-size:  2.8rem;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*Styling the efficiency card*/
#efficiency{
    width: 80%;
    color: rgb(99, 99, 99);
    font-size:  1.1rem;
    margin-bottom: 5px;
}
/* Styling the title color*/
.title{
    color: rgb(61, 61, 61) !important;
    margin-left: 37px !important;
    margin-right: 37px !important;
}
/* Estimated font size*/
.estimated{
    font-size: 2.2rem;
    padding: 3px;
    background: linear-gradient(292deg, rgb(255, 41, 77) 0%, rgb(252, 203, 69) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*Override bulma bageloader*/
.pageloader {
    background: linear-gradient(190deg, #ea5920, #ffbb00) !important;
}

/*Style the problems card*/
#problems {
    padding: 5px;
    margin-top: 10px;
    width: 80%;
    background-color:rgba(233, 233, 233, 0.521);
    border: solid 4px rgba(233, 233, 233, 0.521);
    border-radius: 10px;
    min-height: 80px;
    color: rgb(99, 99, 99);
    font-size:  1.2rem;
    margin-top: 30px;
    box-shadow: 0px 0px 10px 2px rgba(68, 68, 68, 0.2);  
}

/*Changing the ducoprice font size*/
#ducoprice{
    font-size: 20px;
}
/*Small images to show miner table*/
.imgi{
    margin: 10px;
    max-height: 80px;
}
/*Small images for icons below dashboard */
.imgi2{
    margin: 10px;
    max-height:40px;
}
/*chnage the backgorund of the cards/tiles*/
.has-background-light2{
    background-color:rgb(248, 248, 248) !important;
    -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.14), 0 6px 6px rgba(0, 0, 0, 0.18);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.14), 0 6px 6px rgba(0, 0, 0, 0.18);
}

/*The table for all minng devices*/
#minerdata{
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: none;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    border: solid white;
    opacity:0%;
    transition: opacity 0.5s ease-in-out;
    box-shadow: 9px 9px 20px 10px rgba(68, 68, 68, 0.2);    
}

#devices{
    border-spacing: 10px;
border-collapse: separate;
    padding: 10px;
    background-color: white;
    box-shadow: 9px 9px 20px 10px rgba(68, 68, 68, 0.2);    
}


/*Style the table more*/
#minerdata_data{
    padding: 8px;
    width: 100%;
}
#minerdata_data tr:hover {
    background-color: rgb(231, 231, 231);
}
#minerdata_data td {
    border-bottom: 1px solid rgb(184, 184, 184);
    padding: 8px;
}

/*Style te connection chart */
#connection_chart_div{
    display: none;
}

/* style the table for estimated duco*/
#estimatedtable{
    text-align: left;
    padding: 5px;
    width: 90%;
    height: 80%;
    color:rgb(124, 124, 124);
}
/* Change subtitle color*/
.subtitle{
    color:rgb(92, 92, 92) !important;
}
/* Style the max hashrate data width*/
#hashratetab{
    max-width: 90%;
}

/*GO back to dashboard on pages fixes.html and privacy.html and about.html*/
.fixedtainer{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.7);  
    color: rgb(110, 110, 110);
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;
    border: solid white;
    margin-left: auto;
    margin-right: auto;
    top:0;
    position: sticky;

}
/*CHnage the fon size for the fixes.html page*/
.fixes{
    font-size: 18px;
}

/*Make the div groupe scrollable*/
#fixes{
    overflow: auto;
    height: 80vh;
}

/*Chnaging titles font size*/
h2{
    font-size: 40px !important;

}
h3{
    font-size: 30px !important;

}
h4{
    font-size: 20px !important;

}

.iconr{
    position: absolute;
    float: left;
    margin: 5px;
}

.card2{
    margin:10px !important;
    padding: 10px !important;
}

/*help on hover*/
  
.iconr .helptext {
    visibility: hidden;
    background-color: rgb(104, 104, 104);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    margin-left: 10px;
    top: -50%;
    font-size: 14px;
    width: 200px;
    opacity: 90%;
}

.iconr:hover .helptext {
    visibility: visible;
}

.cardheader{
    background: #f3f3f3;
    border-bottom: solid 3px;
    border-radius: 7px !important;
    padding: 4px;
    margin-bottom: 10px;
}

.is-child{
    border: solid 0px !important;
    border-radius: 7px !important;
}

.colorfult{
    background: linear-gradient(90deg, rgba(255,67,67,1) 0%, rgb(252, 112, 69) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.newsframe{
    word-break:break-all;
    width:100%;
    overflow:auto;
    height: 80%;
    padding: 10px;
    
}
#card {
    /*background-color: white;*/
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.411);
    padding:5px;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.7);  
    -webkit-box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 10px 5px rgba(0,0,0,0);
}
.transparent{
    background-color:rgba(0, 0, 0, 0);
}

.cardfade{
    animation-name: dimmon;
    animation-duration: 3.5s;
}

.news{
    animation-duration: 1.5s;
    animation-name: dimmon;
}
@keyframes dimmon {
    0%{opacity: 0%; }
    50%{opacity: 0%;}
    100%{opacity: 100%; }
}
#server {
    background-color: white;
    border-radius: 40px;
    border: solid white;
    transition: opacity 0.5s ease-in-out;
    padding:5px;
    height: 385px;
    animation-duration: 2.5s;
    animation-name: dimmon;
}

#statustable{
    padding: 8px;
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
    font-size: 0.9rem;
}

.greenpulse {
	background: rgb(22, 194, 22);
	border-radius: 50%;
	height: 20px;
	width: 20px;
    margin-left: auto;
    margin-right: auto;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(41, 144, 27, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
.redpulse {
	background: rgb(194, 22, 22);
	border-radius: 50%;
	height: 20px;
	width: 20px;
    margin-left: auto;
    margin-right: auto;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: redpulse 2s infinite;
}

@keyframes redpulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(224, 96, 10, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.fadein{
    font-size: 30px;
    text-align: center;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-name: fadein;
    position: relative;
    margin-left: 0px;
    margin-bottom: 10px;
}
@keyframes fadein {
    0%{font-size:0px;}
    50%{font-size: 0px;opacity: 0%;}
    100%{font-size: 30px;opacity: 100%;}
}
#minerchart{
    height: 300px;
}

#miner_distro{
    max-height: 290px;
}
#duconi {
    display: none;
}

.faucet{
    margin-top: 20px;
    text-align: center;
}
#faucetinput{
    max-width: 70%;
    margin-top: -5px;
}
#faucetsolution{
    max-width: 90%;
    margin-top: -5px;
}
#faucetimg{
    border-radius: 40px;
    border: solid 0px white;
    margin:0;
}
.vignette {
    position: relative;
}
.vignette img {
    display: block;
  }
  
  .vignette:after {
    content: '';
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left:0;
    box-shadow: 0px 0px 15px 20px rgba(255, 255, 255, 0.9) inset;
  }
#faucetpopup{
    display: none;
    position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
margin-left: auto;
margin-right: auto;
  
    background-color: rgb(240, 240, 240);
    border-radius: 40px;
    border: solid rgb(255, 255, 255) 0px;
    transition: opacity 0.5s ease-in-out;
    padding: 20px;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}
.btn{
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
    margin-left: 10px;
}

#solutionclosebtn{
    margin-top: 15px;
    margin-right: 15px;
    position:absolute;
    top:0;
    right:0;
}
.cookie-banner {
	position: fixed;
	bottom: 10px;
	left: 10%;
  right: 10%;
  width: 80%;
  padding: 30px;

  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

#banner{
    display: none;
    line-height: 1;
}

.cookieinfo{
    border-radius: 15px;
    text-align: right;
    margin-right: 15px;
}
#myd2{
    max-height: 90vh;
    padding-top: 5vh;
}
.page{
    height: 90vh;
}